body{
    background-color: rgba(251, 255, 0, 0.544);
}
 header{
    display: flex;
    flex-wrap: wrap; 
} 
    

.containerlogo{
    height: 32vh;
    width: 100%;
    border: 5px solid black;
     background-image: url(./img/design2_image1.jpg); 
    background-position-y: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.logo1{
    display: flex;
    width: 20%;
    height: 60%;
    margin-right: 7vh;
    
    
}
#logo{
    width: 100%;
    height: 100%;
    background-color: rgba(251, 255, 0, 0.544);
    border-radius: 3px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 15vh;
    
}

.mdhl{
    height: 30%;
    width: 25%;
    display: flex;
    background-color: rgba(251, 255, 0, 0.544);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    margin-left: 3vh; 
    border-radius: 0.5rem;
    text-shadow: 2px 2px 2px  rgb(255, 255, 255);
    font-size: 1rem;

    

}
.letras{
    display: flex;
    font-size: 140%;
    border: 8px solid rgb(0, 0, 0);
    width: 29rem;
    height: 5rem;
    background-color: cadetblue;
    border-radius: 3%;
    text-align: center;
    justify-content: center;
    align-items: center;

}
nav{
    
    width: 100%;
    
    display: flex;
    background-color: black;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    margin-bottom: 1ch;
    
    justify-content: center;
    padding-right: 5vh;
    flex-wrap: wrap;
}
.btn{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 25px;
    border-radius: 3px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(10, 159, 159);
    text-shadow: 0px 1px 0px rgb(129, 122, 122);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 3);
    
}

.btn:hover{
    
    background-color: rgb(36, 209, 132);

}
.btn:active{
    background-color: rgb(9, 230, 9);
}

section{
    display: flex;
    flex-direction: column;
    /* margin-left: 60vh;  */
    margin-top: 10vh;
    font-size: 25px;
    height: auto;
    width: auto;
    
    
    
    
}
.seccion{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80rem;
    
    flex-wrap: wrap;
    
}
#sect{
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-top: 10vh;
    font-size: 25px;
    height: auto;
    width: auto
}
#sub{
    display: inline-block;
    
}

#mvg{
    font-size: 30px;
}
#rpp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 70vh;
    margin-right: 35vh;
}
/* .fondo{
    display: flex;
}
.fondom{
    height: 32vh;
    width: 195vh;
    border-radius: 10px; */ 

.li{
    list-style-type: circle;
}
#tb{
    width: 90%;
    display: flex;
    margin-left: 10vh;
    margin-top: 10vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px;
}

table{
    
    height: 100%;
    width: 100%;
    
}
.fechas{
    background-color: black;
    color: white;
    margin: 0;
    height: 10rem;
}
.fila1{
    background-color: rgb(251, 255, 0);
    
}
.fila2{
    background-color: cadetblue;
}
.fila1:hover{
    background-color: black;
    color: white;

}
.fila2:hover{
    background-color: black;
    color: white;

}
footer{
    display: flex;
    background-color: black;
    color: white;
    height: 5rem;
    align-items: center;
    justify-content: center;
    
    

}
.foo{
    
    margin-left: 10rem;
    
}
 .fom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem; 
    
    
}
form{
    width: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
     
    
    

    
} 
.field{
    width: 49rem;
    height: 7.1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
}
.field > #send{
    width: 5rem;
    align-self: flex-end;
}  

#mail-cont{
    color: black;
    text-decoration: none;
}
#mail{
    color: white;
    text-decoration: none;
}
 
#foto1{
    display: flex;
    width: 30rem;
    height: auto;
    
    
}
.costado{
    display: flex;
    flex-direction: column;
}
.abajo{
    
     display: flex;
     flex-wrap: wrap;
    
     
 }
 fieldset{
     border: none;
 }
 input{
     outline: none;
     background-color: beige;
     border: none;
 }
 
    